.chessboard {
    background-color: grey;
    margin: 10vh 10% 10vh 10%;
    width: 80vmin;
    height: 80vmin;
}

.icon {
    display: inline-block;
    font-size: 8vmin;
    line-height: 100%;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.outline {
    display: inline-block;
    line-height: 100%;
    height: 100%;
    width: 100%;
    border: solid blue 2px;
    position: relative;
}

.shadow {
    font-size: 10vmin;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    line-height: 100%;
    height: 125%;
    z-index: 1;
    color: blue;
    opacity: 25%;
}

.empty {
    display: inline-block;
    line-height: 100%;
    height: 100%;
    width: 100%;
    border: solid green 2px;
    position: relative;
}

.enemyOccupied {
    display: inline-block;
    line-height: 100%;
    height: 100%;
    width: 100%;
    border: solid red 2px;
    position: relative;
}

/* May work for icon color change */

/* .icon:hover {
    color: red;
} */

.row0, .row1, .row2, .row3, .row4, .row5, .row6, .row7 {
    width: 100%;
    height: calc(100% * (1/8));
}

.col0, .col1, .col2, .col3, .col4, .col5, .col6, .col7 {
    width: calc( 100% * (1/8));
    height: 100%;
    float: left;
    box-sizing: border-box;
    border: white solid 1px;
}